# Build output
/bin/
/obj/
Debug/
Release/
# VS Code
.vscode/

# Rider
.idea/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

*.dll
*.cache
*.tmp
*.log
.DS_Store
Thumbs.db


# Dotnet Core
project.lock.json
project.fragment.lock.json
*.dbmdl
*.jfm

# Npm & Yarn
node_modules/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Secrets & local settings
appsettings.Development.json
.env

# NuGet
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/*

Migrations/
*.sln.iml

